@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', sans-serif 
}

body{   
    background-color:aliceblue;
    font-family: 'Noto Sans Mono', sans-serif ;
}

.signup{
    width: 360px;
    height: 800px;
    margin: auto;
    background: wheat;
    border-radius: 20px;
}


.signup h1{
    text-align: center  ;
}
.signup p{
    text-align: center  ;
    margin: auto;
    margin-top: 20px;
}
.signup a{
    text-align: center  ;
    margin: auto;
    margin-top: 20px;
}
.signup form{
    width: 300px;
    margin-left: 20px;
}

.signup form label{
    display:  flex;
    margin-top: 20px;
    font-size: 18px;
}

.signup form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.signup form input[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: var(--main-color);
    color: antiquewhite;
    font-size: 18px;
    cursor: pointer;
}

/* LOGIN */
.login{
    width: 360px;
    height: 320px;
    margin: auto;
    background: wheat;
    border-radius: 20px;
}

.login h1{
    text-align: center  ;
}

.login p{
    text-align: center  ;
    margin: auto;
    margin-top: 20px;
}
.login a{
    text-align: center  ;
    margin: auto;
    margin-top: 20px;
}
.login form{  
    width: 300px;
    margin-left: 20px;
}

.login form label{
    display:  flex;
    margin-top: 20px;
    font-size: 18px;
}

.login form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.login form input[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: var(--main-color);
    color: antiquewhite;
    font-size: 18px;
    cursor: pointer;
}





